doctype html
html
  head
    title
  body
   ul
   <li><a href="./">Index</a></li>
   <li><a href="./Rita">Rita</a></li>
   <li><a href="./Charles">Charles</a></li>
   <li><a href="./Vero">Vero</a></li>
   <li><a href="./David">David</a></li>   
  