extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
   <li><a href="./Rita">Rita</></li>
   <li><a href="./Charles">Charles</></li>
   <li><a href="./Vero">Vero</></li>
   <li><a href="./David">David</></li>
